//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
//weights
$s-weight: 300;
$r-weight: 500;
//border
$s-border: 1px;
$r-border: .3rem;
$m-border: .6rem;